<ul style="list-style: none;">
    <li><b>First Name</b>: {{employee.first_name}} </li>
    <li><b>Last Name</b>: {{employee.last_name}} </li>
    <li><b>Email</b>: {{employee.email}} </li>
    <li><b>Gender</b>: {{employee.gender}} </li>
    <li><b>Salary</b>: {{employee.salary}} </li>
</ul>