<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr onclick="window.location.href='#/employee/{{id}}'">
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{gender}}</td>
                    <td>{{email}}</td>
                    <td>${{salary}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>